<div class="row">
  <div class="col-lg-2">
    <div class="comment-img">

      <%= image_tag('default-user.jpg', :class => "img-thumbnail") %>


    </div>
  </div>
  <div class="col-lg-10">
    <b><%= comment.user.username %></b>
    <small class="tiny"> (<%= time_ago_in_words(comment.created_at) %> ago)</small>
    <div class="reply-content"><%= comment.content %> </div>
  </div>

</div>
