 <div class="intro">
<div class="row container-full">
  <div class="small-12 columns">
    <h1 class="center">Web Learning Repository</h1>
    <div class="row">
    <div class="small-5 columns">
     <div class="searchbox panel">
       <div class="slideshow-wrapper">
         <div id="featured" data-orbit>
           <div>
             <h2>Headline 1</h2>
             <h3>Subheadline</h3>
             <p>Pellentesque habitant morbi tristique senectus.</p>
           </div>
           <div>
             <h2>Headline 2</h2>
             <h3>Subheadline</h3>
             <p>Pellentesque habitant morbi tristique senectus.</p>
         </div>
           <div>
             <h2>Headline 3</h2>
             <h3>Subheadline</h3>
             <p>Pellentesque habitant morbi tristique senectus.</p>
       </div>
     </div>
       </div>
     </div>

    </div>

      <div class="small-7 columns">
      <div class="row">
    <div class="small-12 columns">
      <p>Coderstacks is a central library for the best web development learning resources on the web. Why trawl through hundreds of unknown resources when you can find the ones that have been tried and tested by others right in one place</p>
      <button class="small radius main-button" >Go To Mobile Resources</button>

    </div>
      </div>
      <div class="row">
      <div class="small-12 columns">
        <div class="panel"></div>


      </div>
      </div>
      </div>
    </div>
  </div>

</div>
 </div>
 <div class="home-categories">
   <div class="row container-full">


    <div class="small-3 columns">
      <div class="panel">
      <h3>Design</h3>
      <p class="center">All design related resources to help you learn how to make your front-end as good looking and user friendly as you are.</p>
      <button class="small success radius" >Go To Mobile Resources</button>
    </div>
    </div>
    <div class="small-3 columns">
      <div class="panel">
      <h3>Programming</h3>
      <p class="center">The resources you need to unboggle your mind. This includes the main programing languages and back end know-how.</p>
      <button class="small secondary radius" >Go To Mobile Resources</button>
    </div>
</div>
    <div class="small-3 columns">
      <div class="panel">
      <h3>Business</h3>
      <p class="center">
        The best resources for helping you to get the information you need to get your start-up idea from out of you head and into the real world.
      </p>
      <button class="small alert radius" >Go To Mobile Resources</button>
    </div>
</div>
    <div class="small-3 columns">
      <div class="panel">
      <h3>Mobile</h3>
      <p class="center">Everything that could help you get ahead in the world of mobile development, from building native apps to the micro user experience.</p>

    <button class="small success radius" >Go To Mobile Resources</button>
    </div>
    </div>

   </div>
</div>