<div>
  <%= form_for([@resource, @resource.likes.build], :remote => true, :id => "like-form")  do |f| %>

      <%= f.submit "Like This", class: 'button tiny success radius like-this' %>
  <% end %>
</div>