<div class="container">

  <div class="row">

    <div class="col-md-2">
      <%= render 'layouts/sidenav' %>
    </div>
    <div class="col-md-10">
      <%= render 'resources/resources' %>
    </div>


  </div>
</div>
